---
import AboutDetailCard from "@components/AboutDetailCard.astro";
import MainSection from "@components/MainSection.astro";
import { aboutUsSection } from "@data";

const { title, description, identities } = aboutUsSection;
---

<MainSection id="about-us" flexDirection="column">
    <div>
        <h2>{title}</h2>
        <p>{description}</p>
    </div>
    <div>
        {
            identities.map(({ title, image, content }, index) => (
                <AboutDetailCard
                    number={(index + 1).toString().padStart(2, "0")}
                    image={image}
                    title={title}
                    content={content}
                />
            ))
        }
    </div>
</MainSection>

<style>
    div:last-child {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        contain: paint;
    }

    p {
        text-align: center;
    }
</style>
