---
import Form from "@components/Form.astro";
import InputField from "@components/InputField.astro";
import MainSection from "@components/MainSection.astro";
import LocationIcon from "@icons/LocationIcon.astro";
import PhoneIcon from "@icons/PhoneIcon.astro";
import EmailIcon from "@icons/EmailIcon.astro";
import { basics, contactUsSection } from "@data";
import ContactLink from "@components/ContactLink.astro";

const { email, phone, address } = basics;
const { title, description, addressLink, addressMapLink, schedules } = contactUsSection;
---

<!-- TODO: HACER LAS VALIDACIONES DE LOS INPUTS Y EL FORMULARIO -->
<MainSection id="contact-us" flexDirection="row" flexWrap="wrap">
    <article class="contact__info">
        <header>
            <h2>{title}</h2>
            <p>{description}</p>
        </header>
        <main>
            <div>
                <h6>Información de contacto</h6>
                <ContactLink link={addressLink} text={address}>
                    <LocationIcon width={24} height={24} color="var(--neutral-900)" />
                </ContactLink>
                <ContactLink link={`tel:${phone.trim()}`} text={phone}>
                    <PhoneIcon width={24} height={24} color="var(--neutral-900)" />
                </ContactLink>
                <ContactLink link={`mailto:${email}`} text={email}>
                    <EmailIcon width={24} height={24} color="var(--neutral-900)" />
                </ContactLink>
            </div>
            <div>
                <h6>Horario</h6>
                {
                    schedules.map(({ day, hours }) => (
                        <p>
                            {day}: {hours}
                        </p>
                    ))
                }
            </div>
        </main>
        <iframe src={addressMapLink} loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
    <article class="contact__form">
        <h5>Ponte en contacto con nosotros</h5>
        <Form buttonText="Enviar">
            <InputField name="Nombre" fieldType="input" inputType="text" />
            <InputField name="Apellidos" fieldType="input" inputType="text" />
            <InputField name="Correo" fieldType="input" inputType="email" />
            <InputField name="Asunto" fieldType="input" inputType="text" />
            <InputField name="Mensaje" fieldType="textarea" flex={1} />
        </Form>
    </article>
</MainSection>

<style>
    article:is(.contact__info, .contact__form) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    article:is(.contact__info > h2, .contact__form > h5) {
        line-height: 1;
    }

    /* CONTACT INFO */

    .contact__info {
        flex: 2.5;
    }

    .contact__info > header,
    .contact__info > main > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .contact__info > header > p {
        max-width: 100%;
    }

    .contact__info > main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .contact__info > iframe {
        border: none;
        border-radius: var(--border-radius);
        flex: 1;
        width: 100%;
        min-height: 250px;
    }

    /* CONTACT FORM */

    .contact__form {
        flex: 1;
    }

    .contact__form > h5 {
        text-align: center;
    }
</style>
