---
import OurTeamCard from "@components/OurTeamCard.astro";
import { ourTeamSection } from "@data";

const { title, description, team } = ourTeamSection;
---

<section id="our-team">
    <header>
        <h2>{title}</h2>
        <p>{description}</p>
    </header>
    {
        team.map(({ id, name, role, gridArea }, index) => (
            <OurTeamCard index={index} id={id} name={name} role={role} gridArea={gridArea} />
        ))
    }
</section>

<style>
    section {
        padding: 1rem;
        width: min(100%, var(--max-width));
        min-height: 100vh;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        gap: 1rem;
    }

    header {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
    }

    @media screen and (width > 1024px) {
        section {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(11, 1fr);
            grid-template-areas:
                ". . . staffImage1 staffImage1 staffImage1 . . . . . ."
                ". . . staffImage1 staffImage1 staffImage1 . . . . staffImage2 staffImage2"
                ". . . staffImage1 staffImage1 staffImage1 . . . . staffImage2 staffImage2"
                "staffImage5 staffImage5 . text text text text text text . staffImage2 staffImage2"
                "staffImage5 staffImage5 . text text text text text text . . ."
                "staffImage5 staffImage5 . text text text text text text . . ."
                "staffImage5 staffImage5 . text text text text text text . . ."
                ". . . . . . . . staffImage4 staffImage4 staffImage4 ."
                ". . . staffImage3 staffImage3 . . . staffImage4 staffImage4 staffImage4 ."
                ". . . staffImage3 staffImage3 . . . staffImage4 staffImage4 staffImage4 ."
                ". . . staffImage3 staffImage3 . . . . . . .";
        }
    }

    @media screen and (width <= 1024px) {
        section {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
                "text text"
                "staffImage1 staffImage2"
                "staffImage1 staffImage4"
                "staffImage3 staffImage4"
                "staffImage3 staffImage5";
        }
    }

    @media screen and (width <= 480px) {
        section {
            grid-template-columns: 1fr;
            grid-template-areas:
                "text"
                "staffImage1"
                "staffImage2"
                "staffImage3"
                "staffImage4"
                "staffImage5";
        }
    }
</style>
