---
import MainSection from "@components/MainSection.astro";
import ProductCard from "@components/ProductCard.astro";
import { productsSection } from "@data";

const { title, description, products } = productsSection;
---

<MainSection id="products">
    <header>
        <h2>{title}</h2>
        <p>{description}</p>
    </header>
    <main>
        {
            products.map(({ name, image, description, gridArea }) => (
                <ProductCard name={name} image={image} description={description} gridArea={gridArea} />
            ))
        }
    </main>
</MainSection>

<style>
    header {
        text-align: center;
    }

    main {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 115px);
        gap: 1rem;
        grid-template-areas:
            "product1 product1 product2 product2 product2 product3 product3 product3"
            "product1 product1 product2 product2 product2 product3 product3 product3"
            "product4 product4 product2 product2 product2 product5 product5 product5"
            "product4 product4 product2 product2 product2 product5 product5 product5"
            "product4 product4 product6 product6 product6 product6 product7 product7"
            "product4 product4 product6 product6 product6 product6 product7 product7";
    }

    @media screen and (768px <= width <= 1000px) {
        main {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
                "product1 product1 product2 product2 product3 product3"
                "product4 product4 product2 product2 product5 product5"
                "product4 product4 product6 product6 product6 product6"
                "product4 product4 product7 product7 product7 product7";
        }
    }

    @media screen and (521px <= width <= 767px) {
        main {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, 1fr);
            grid-template-areas:
                "product1 product4"
                "product1 product4"
                "product3 product4"
                "product3 product6"
                "product3 product6"
                "product3 product6"
                "product7 product5"
                "product7 product5"
                "product2 product5"
                "product2 product5";
        }
    }

    @media screen and (width <= 520px) {
        main {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas:
                "product1"
                "product2"
                "product3"
                "product4"
                "product5"
                "product6"
                "product7";
        }
    }
</style>
