---
import MainSection from "@components/MainSection.astro";
import TestimonyCard from "@components/TestimonyCard.astro";
import { testimoniesSection } from "@data";

const { title, description, testimonies } = testimoniesSection;
---

<MainSection id="testimonies" flexDirection="column">
    <div>
        <h2>{title}</h2>
        <p>{description}</p>
    </div>
    <div>
        {
            testimonies.map(({ name, time, testimony, gridArea, position }) => (
                <TestimonyCard name={name} time={time} testimony={testimony} gridArea={gridArea} position={position} />
            ))
        }
    </div>
</MainSection>

<style>
    p {
        text-align: center;
    }

    div:last-child {
        flex: 1;
        position: relative;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
    }
</style>
